<ion-header>
  <ion-toolbar>
    <ion-title>
      Reset Password
      <a class="help" href="https://scotty-crypto.github.io/521Accesssubsystem.html#MobileReset " target="_blank">Help?</a>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="reset($event)" style="text-align: center;">
    <p style="padding-left: 5%; text-align: left;">It seems you are having trouble accesing your FICS account...</p>

    <p style="padding-left: 5%; text-align: left;"> Please provide us with the email address linked to your FICS account, and our FICS Support Team will email you and provide you with an OTP</p>
  <ion-item>
    <ion-label position="stacked">Email Address</ion-label>
    <ion-input placeholder="Email Address" type="text" placeholder="Email Address" name="Email"></ion-input>
  </ion-item>

  <ion-button type="submit" expand="block" color="success">
    <ion-icon name="mail"></ion-icon>
        &nbsp;Email Me
  </ion-button>

  
  <br><br><br><br><br><br><br><br><br><br><br><br><br>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" routerLink="/home">
      <ion-icon name="finger-print"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</form>
</ion-content>
