
<div class="app">

  <div class="table-card">

    <div class="container-fluid">
    <div class="row">
      <div class="col-2 bg">
        <h1 class="h1 title">
          <div class="btn-group">
              <button  class="btn btn-light bui" (click)="goBack()" >Back</button>
          </div>
        </h1>
      </div>
      <div class="col-8 bg">
        <h1 class="h1 title"  align="center">
          All My Packages
        </h1>
      </div>

      <div class="col-2 bg">
          <div class="hint">
            <button type="button" class="btn"><i class="fa fa-question" style="color: #297bff"></i></button>
          </div>
            <div class="hide">Add, update or delete packages</div>
      
          <button type="button" class="btn"><a class="help" href="https://scotty-crypto.github.io/522Adminsubsystem.html#questionnaireTypes " target="_blank">| Help</a></button>
      </div>
    </div>
    <hr class="hr1">
  </div>
    <div class="form-group">
      <input type="text" class="form-control mb-4" placeholder="Search" [(ngModel)]="query" id="listSearch">
    </div>

    <div>
      <button  (click)="AddPackage()"   class="btn-gradient blue mini">Add  Package</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <td> Name</td>
          <td>Description</td>
          <td>Quantity</td>
          <td>Price</td>
          <td></td>
          <td></td>

        </tr>
      <tbody>
          <tr *ngFor="let type of  Packages | filter: query">
            <td>{{type.Name}}</td>
            <td>{{type.Description}}</td>
            <td>{{type.Quantity}}</td>

            <td>
              <button  class="btn-gradient blue mini" (click)="Maintain(type.Name, type.Package_ID)"  >Maintain</button>
            </td>
            <td>
              <button>
                <i class="fa fa-trash" style="font-size: 1.73em;" (click)="delete(type.Package_ID)"></i>
              </button>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>